#mbwnavbar {
    background:rgba(66, 197, 190, 1);
    color: #000000;
    margin: auto;
    padding: 0;
    position: relative;
    top:-7px;
   left:-8px;
   right:-8px;
    border-top:0px solid #transparent;
    height:50px;
}
#mbwnav {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: table;
}
#mbwnav ul {
    float: none;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
#mbwnav li {
    list-style: none;
    margin-left:50px;
    padding: 0;
    display:inline-block;
    border-left:0px solid #333;
    border-right:0px solid #333;
    height: 35px;
}
#mbwnav li a, #mbwnav li a:link, #mbwnav li a:visited {
    color: #fff;
    display: inline-block;
    font:normal 18px Times, sans-serif;
    margin: 0;
    margin-top:5px;
    text-align: left;
    padding: 9px 12px 10px 12px;
    text-decoration: none;
}
#mbwnav li a:hover, #mbwnav li a:active {
    border-bottom:2px solid black;
    color: #fdeae9;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    padding: 9px 12px 10px 12px;
}

#mbwnav li ul {
    z-index: 9999;
    position: absolute;
    left: -999em;
    height: auto;
    width: 100px;
    margin: 0 auto;
    padding: 0;
}
#mbwnav li ul a {
    width: 100px;
}
#mbwnav li ul ul {
    margin: -25px 0 0 10px;
}
#mbwnav li:hover ul ul, #mbwnav li:hover ul ul ul, #mbwnav li.sfhover ul ul, #mbwnav li.sfhover ul ul ul {
    left: -999em;
}
#mbwnav li:hover ul, #mbwnav li li:hover ul, #mbwnav li li li:hover ul, #mbwnav li.sfhover ul, #mbwnav li li.sfhover ul, #mbwnav li li li.sfhover ul {
    left: auto;
    right:auto;
}
#mbwnav li:hover, #mbwnav li.sfhover {
    position: static;
}
#mbwnav li li a, #mbwnav li li a:link, #mbwnav li li a:visited {
    background: #ffffff;
    width: 120px;
    color: #000000;
    display: inline-block;
    font:normal 20px Times, sans-serif;
    margin: 0 auto;
    padding: 9px 12px 10px 12px;
    text-decoration: none;
    z-index:9999;
    border-bottom:0px dotted #333;
}
#mbwnav li li a:hover, #mbwnavli li a:active {
    background: #444;
    color: #fdeae9;
    display: block;
    margin: 0 auto;
    padding: 9px 12px 10px 12px;
    text-decoration: none;
}
#insta {
  border-radius:5%;
  margin-top:3px;
}
.logo {
  height:40px;
  width:40px;
  display:inline-block;
  justify-content:space-between;
  border:none;
  border-radius:100%;
  position:relative;
  bottom:15px;
  left:45%;
  margin-left:10px;
  margin-right:10px;
  
}
.logo:hover {
  
}

.about1 {
  border:5px solid black;
  width:48%;
  float:left;
  height:500px;
  margin-bottom:10px;
  font-family:times;
  font-size:24px;
  line-height:50px;
  font-weight:bold;
}
.about2 {
  border:5px solid black;
  width:48%;
  float:right;
  height:500px;
  margin-bottom:10px;
  font-size:24px;
  line-height:50px;
  font-weight:bold;
}
.about1 p {
 
}
.footer {
position:static;
  width:100%;
  height:40px;
  clear:both;
  right:0;
  bottom:0;
  left:0;
  padding:1rem;
  background: rgba(66, 197, 190, 1) 
}
.header{
  position:relative;
  top:15px;
  text-align:center;
  font-size:34px;
}
.descriptors {
  width:60%;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
}
.destitle {
  border:3px solid black;
}
.words {
  font-size:20px;
  font-family:Verdana;
  font-weight:100;
}
h2 {
  font-size:30px;
}
